/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-height: 60px; /* Adjust this value based on your navigation menu height */
    --primary-color: #FF964F;
    --secondary-color: #8daef4;
    --text-color: #fff1c1;
}

/* Global styles */
body {
    font-family: 'Jersey 10', sans-serif;
    line-height: 1.6;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.hero-content h1,
.hero-content h2,
.hero-content p {
    color: var(--text-color);
}

.hero-content h1 {
    text-shadow: 1px 1px 2px rgba(250, 150, 3, 0.52);
}

/* Navigation styles */
nav {
    background-color: var(--primary-color);
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.5s ease;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

/* Section styles */
.section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 80px; /* Adjust this value based on the height of your navigation menu */
    padding-bottom: 2rem; /* Add padding to create space for the footer */
}

.section.active {
    opacity: 1;
}

.hero-content {
    text-align: justify;
    max-width: 800px;
    padding: 1rem;
    /*margin-top: calc(var(--nav-height) + 200px); !* Adjust the extra space (20px) as needed *!*/
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin-right: 2rem;
}

.about-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 10px solid var(--text-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-text {
    flex: 2;
    text-align: justify;
}

.hero-main-content {
    text-align: center;
    max-width: 800px;
    padding: 2rem;
}

.section h1 {
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    background-color: var(--text-color);
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.section h3 {
    text-decoration: underline;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.section h4 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.section p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

/* Footer styles */
footer {
    padding: 2rem;
    text-align: center;
    background-color: var(--primary-color);
}

.writing-item {
    margin-bottom: 2rem;
}

.writing-item h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.writing-item p {
    margin-bottom: 1rem;
}

/* Game demo styles */
.project-item {
    margin-bottom: 2rem;
}

.project-item iframe {
    width: 100%;
    height: 400px;
    border: none;
}

.btn {
    position: relative;
    z-index: 1;
}

.tab {
    position: relative;
    z-index: 1;
}